#logo1{
    float: left;
}
#logo2{
    float: right;
}
#main1{
    clear: both;
    width: 50%;
    float: left;
    font-size: 25px;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 h1{
color: chocolate;

}
p{
    font-size: 20px;
    font-style: bold;
    color: black;
}
#btn{
    background-color: chocolate;
    color: snow;
    font-size: 25px;
    padding: 10px;
    border-radius: 20px;
}
#img{
    padding: 10px;
    margin: 20px;
    float: right;
}
#novels{
   clear: both;
    
}
h2{
    font-size: 40px;
    text-align: center;
    color: chocolate;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}
td{
    padding: 20px;
}
.footer{
    width: 33.3%;
    float: left;
    background-color: chocolate;
    color: white;
    font-size: large;
    height: 150px;
}
textarea{
    text-align: center;
}
